service: handl-js

provider:
  name: aws
  runtime: nodejs12.x
  memorySize: 128
  timeout: 10
  stage: prod
  profile: handl
  endpointType: REGIONAL

package:
  exclude:
    - node_modules/**
    - .git/**

plugins:
  - serverless-apigateway-service-proxy
  - serverless-iam-roles-per-function

custom:
  apiGatewayServiceProxies:
    - sqs:
        path: /event
        method: post
        queueName: { 'Fn::GetAtt': ['SQSQueue', 'QueueName'] }
        cors: true

resources:
  Resources:
    SQSQueue:
      Type: 'AWS::SQS::Queue'

functions:
  sqs2firehose:
    handler: functions/sqs2firehose.handler
    events:
      - sqs:
          arn:
            Fn::GetAtt:
              - SQSQueue
              - Arn
    iamRoleStatementsName: lambda-sqs2firehose-custom-role
    iamRoleStatements:
        - Effect: "Allow"
          Action:
            - firehose:PutRecord
          Resource: { 'Fn::Join': [ ':', [ 'arn:aws:firehose', { Ref: 'AWS::Region' }, { Ref: 'AWS::AccountId' }, 'deliverystream/*' ] ] }
        - Effect: "Allow"
          Action:
            - firehose:ListDeliveryStreams
          Resource: "*"

  report:
    handler: functions/report.handler
    events:
      - httpApi:
          path: /report
          method: GET
          cors: false