service: handl-js

provider:
  name: aws
  runtime: nodejs12.x
  memorySize: 128
  timeout: 10
  stage: prod
  profile: handl
  endpointType: REGIONAL

package:
  exclude:
    - node_modules/**
    - .git/**

plugins:
  - serverless-apigateway-service-proxy
  - serverless-iam-roles-per-function

custom:
  apiGatewayServiceProxies:
    - sqs:
        path: /event
        method: post
        queueName: { 'Fn::GetAtt': ['SQSQueue', 'QueueName'] }
        cors: true

resources:
  Resources:
    SQSQueue:
      Type: 'AWS::SQS::Queue'

functions:
  sqs2dynamo:
    handler: functions/sqs2dynamo.handler
    events:
      - sqs:
          arn:
            Fn::GetAtt:
              - SQSQueue
              - Arn
    iamRoleStatementsName: lambda-sqs2dynamo-custom-role
    iamRoleStatements:
        - Effect: "Allow"
          Action:
            - dynamodb:PutItem
          Resource: { 'Fn::Join': [ ':', [ 'arn:aws:dynamodb', { Ref: 'AWS::Region' }, { Ref: 'AWS::AccountId' }, 'table/HandLJSEvents' ] ] }