# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: utmsimple

# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: handl-js-backend

service: handl-js

provider:
  name: aws
  runtime: nodejs20.x
  memorySize: 256
  timeout: 10
  stage: prod
  profile: handl
  endpointType: REGIONAL
  httpApi:
    cors: true

package:
  exclude:
    - node_modules/**
    - .git/**
    - build-layer.sh

plugins:
  - serverless-apigateway-service-proxy
  - serverless-iam-roles-per-function

layers:
  hjnodelib:
    path: lib
    name: hj-nodelib
    description: Node Modules Shared Libs
    retain: false

custom:
  apiGatewayServiceProxies:
    - sqs:
        path: /event
        method: post
        queueName: { "Fn::GetAtt": ["SQSQueue", "QueueName"] }
        cors: true

resources:
  Resources:
    SQSQueue:
      Type: "AWS::SQS::Queue"

functions:
  sqs2firehose:
    handler: functions/sqs2firehose.handler
    events:
      - sqs:
          arn:
            Fn::GetAtt:
              - SQSQueue
              - Arn
    iamRoleStatementsName: lambda-sqs2firehose-custom-role
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - firehose:PutRecord
        Resource:
          {
            "Fn::Join":
              [
                ":",
                [
                  "arn:aws:firehose",
                  { Ref: "AWS::Region" },
                  { Ref: "AWS::AccountId" },
                  "deliverystream/*",
                ],
              ],
          }
      - Effect: "Allow"
        Action:
          - firehose:ListDeliveryStreams
        Resource: "*"

  report:
    handler: functions/report.handler
    events:
      - httpApi:
          path: /report
          method: GET

  response:
    handler: functions/handl-js-response.handler
    timeout: 5
    iamRoleStatementsName: handl-js-response-custom-role
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - dynamodb:Query
        Resource:
          {
            "Fn::Join":
              [
                ":",
                [
                  "arn:aws:dynamodb",
                  "*",
                  { Ref: "AWS::AccountId" },
                  "table/UTMGrabberLicense",
                ],
              ],
          }

  utmsimpleresponse:
    handler: functions/utmsimple-js-response.handler
    timeout: 5
    iamRoleStatementsName: utmsimple-js-response-custom-role
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - dynamodb:Query
        Resource:
          {
            "Fn::Join":
              [
                ":",
                [
                  "arn:aws:dynamodb",
                  "*",
                  { Ref: "AWS::AccountId" },
                  "table/UTMSimpleLicenses",
                ],
              ],
          }
